
<mat-card>
    <mat-spinner *ngIf="this.isLoading"></mat-spinner>
    <form [formGroup]="loginForm">
      <mat-form-field>
        <input matInput type="email" formControlName="email" placeholder="Email*">
        <mat-error *ngIf="!this.loginForm.controls.email.valid">Please Enter the email</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Password*">
        <mat-error *ngIf="!this.loginForm.controls.password.valid">Please Enter the password</mat-error>
      </mat-form-field>
      <div class="d-flex justify-content-center">
        <button class="savePost-button" mat-raised-button color="accent" type="submit"(click)="onSubmit()">Submit</button>
      </div>
    </form>
  </mat-card>
  