<mat-card>
  <mat-spinner *ngIf="this.isLoading"></mat-spinner>
  <form [formGroup]="postForm">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Post Title*">
      <mat-error *ngIf="!this.postForm.controls.title.valid">Please Enter the Title</mat-error>
    </mat-form-field>
    <div>
    <button mat-stroked-button type="button" class="image-button" (click)="filePicker.click()">Pick Image</button>
    <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && postForm.get('image').valid">
    <img [src]="imagePreview" [alt]="this.postForm.value.title">
    <mat-error *ngIf="postForm.get('image').invalid">Please Choose jpeg/jpg/png files only</mat-error>
    </div>
    <mat-form-field>
      <textarea matInput rows="6" formControlName="content" placeholder="Post Content*"></textarea>
      <mat-error *ngIf="!this.postForm.controls.content.valid">Please Enter the content</mat-error>
    </mat-form-field>
    <div class="d-flex justify-content-center">
      <button class="savePost-button" mat-raised-button color="accent" type="submit"(click)="onAddPost()">Save Post</button>
    </div>
  </form>

</mat-card>


