mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

button:hover{
  box-shadow: 0 0 0 2px #6f6579;
  border:none;
  transition: 0.7s;
}

.imageButton{
  display:block;
  margin-bottom:0.5px;
  margin-left:2px;
}

.saveButton{
  display:block;
  margin:auto;
  margin-bottom:2%;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
