<mat-card>
  <mat-spinner *ngIf="this.isLoading"></mat-spinner>
  <form [formGroup]="postForm">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Post Title*">
      <mat-error *ngIf="!this.postForm.controls.title.valid && this.submitted">Please Enter the Title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6" formControlName="content" placeholder="Post Content*"></textarea>
      <mat-error *ngIf="!this.postForm.controls.content.valid && this.submitted">Please Enter the content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit"(click)="onAddPost()">Save Post</button>
  </form>

</mat-card>


